@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.scroll-container {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}
@layer utilities {
  .bg-gradient-1 {
    background-image: linear-gradient(
      109deg, 
      #70F6FF54 20.2%, 
      #DD6CF142 42%, 
      #E56AFDB5 71.5%, 
      #7BB7FD 100.2%
    );
  }
  .bg-gradient-2{
    background-image: linear-gradient(
    135deg, 
    #70F6FF54 10.2%, 
    #A3E6FF 91.1%
  );
  }
  .bg-gradient-3{
    background-image: linear-gradient(
      103deg, 
      #89F7EA 7.3%, 
      #6675F1 100.2%
    );
  }
  .shadow {
    box-shadow: 2px 0 7px rgba(137, 247, 234, 0.3);
  }
  .text-color{
    color: #D9D9D9;
  }
  a {
  cursor: pointer;
}
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.float-animation {
  animation: float 3s ease-in-out infinite;
}
.bounce {
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
}
.bounce:nth-child(1) {
  animation-delay: 0s;
}
.bounce:nth-child(2) {
  animation-delay: 0.2s;
}
.bounce:nth-child(3) {
  animation-delay: 0.4s;
}
.bounce:nth-child(4) {
  animation-delay: 0.6s;
}
.bounce:hover {
  animation-play-state: paused;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-down {
  animation: slideDown 1s ease-out forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(-0);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}
.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}
.gradient-text{
  background: linear-gradient(
      109deg, 
      #70F6FF54 20.2%, 
      #DD6CF142 42%, 
      #E56AFDB5 71.5%, 
      #7BB7FD 100.2%
    );
  background-size: 600% 600%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: gradientFlow 8s ease infinite;
  display: inline-block;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.custom-pagination .swiper-pagination-bullet {
  background: #aaa !important;
  opacity: 0.6;
  width: 10px;
  height: 10px;
  transition: all 0.3s;
}
.custom-pagination .swiper-pagination-bullet-active {
  background: #00ffc6 !important;
  opacity: 1;
  transform: scale(1.2);
}
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.scroll-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}
